html{
    background-image: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url(./img/vikingbattlebackground.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Cormorant SC', serif;
}

.tImage{
    max-width: 5vw;
}

#mainContent{
    display:flex;
    flex-flow: row;
    justify-content: space-around;
}

#vikingArmy{
    display:flex;
    flex-flow:column;
    justify-content: space-between;
}

#saxonArmy{
    display:flex;
    flex-flow:column;
    justify-content: space-between;
}

.npc{
    display:flex;
    flex-flow: row;
    justify-content: space-evenly;
    padding-top:2vw;
    font-size:larger
}

.versus{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    margin:15px
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonText{
   font-size: 45px;
   height: 150px;
   width: 280px;
   font-family: 'Cormorant SC', serif;
}

.tStatus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#warStart{
    display: flex;
    justify-content: space-evenly;
}

.warButton{
    font-size: 30px;
    height: 150px;
    width: 400px;
    font-family: 'Cormorant SC', serif;
    white-space: normal;
}

.inputHead{
    display: flex;
    flex-flow: row;
}

.inputData{
    display: flex;
    flex-flow:column;
    align-items: center;
    margin: 8px;
}

input{
text-align: center;
}

h1{
    text-align: center;
}

#warStartbfDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameTitle{
    display: flex;
    flex-flow:column;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

#gameTitle .line1{
    font-size: 55px;
}

#gameTitle .line2{
    font-size: 45px;
    margin-bottom: 25px;
}